# SQL Practise-1

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text

In [3]:
db_user = 'root'
db_password = 'rushi12345'
db_host = '192.168.29.7'
db_name = 'data_prac_db' 

engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
SessionLocal = sessionmaker(autoflush=False, bind=engine)
Base = declarative_base()

C:\Users\Saiprasad\AppData\Local\Temp\ipykernel_14152\2104917357.py:8: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
db = SessionLocal()

In [5]:
db.execute(text("show tables")).fetchall()

[('bank_details',)]

In [6]:
db.execute(text("""
show databases
""")).fetchall()

[('data_prac_db',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('user_service',)]

In [6]:
db.execute(text("""
select * from user_service.user_details
""")).fetchall()

[(1, 'test1', 'last1', 'test1@gmail.com', '$2a$10$0FbXHcW39CD70GElSxshEuFtdMIAfaLzt9vVFm2vEyQQOmGH5AvIm', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZW1haWwiOiJ0ZXN0MUBnbWFpbC5jb20iLCJleHAiOjE3MTI1OTM3NjYsImZpcnN0X25hbWUiOiJ0ZXN0MSIsImxhc3RfbmFtZSI6Imxhc3QxIn0.yYqtwJh8R4KoKTne6nZQ-EJ_ZYgc0L9KDQ2Dry1dWfs', datetime.datetime(2024, 2, 23, 16, 29, 26), datetime.datetime(2024, 2, 23, 16, 29, 26)),
 (2, 'test2', 'last2', 'test2@gmail.com', '$2a$10$BjF4BP6f2JQLqdT866hhKOdGwseRX1akQsJ3fd/7qCpUkW1fFYiAG', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiZW1haWwiOiJ0ZXN0MkBnbWFpbC5jb20iLCJleHAiOjE3MTMyNTA4NjIsImZpcnN0X25hbWUiOiJ0ZXN0MiIsImxhc3RfbmFtZSI6Imxhc3QyIn0.MlvQRMUGr2dgq4vr4XUw-ykYyF4cdjSbxuNr7nWy_v8', datetime.datetime(2024, 3, 2, 7, 1, 2), datetime.datetime(2024, 3, 2, 7, 1, 2)),
 (3, 'test3', 'last3', 'test3@gmail.com', '$2a$10$RPbEyjNBvmSpwYv0Dnrd.eLkKJSkEsyBntJ4KxseVKUih3liacAte', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImVtYWlsIjoidGVzdDNAZ21haWwuY29tIiwiZXhwIjoxNzEzMjUyNTE5LCJmaXJzdF9uYW1lIjoidGVzdDMiLCJsYXN0X25hbWUiOiJsYXN0MyJ9.Wh7SKVuu_WjToAw41fp4qjhhBISqDGsvUzbygRCqUEs', datetime.datetime(2024, 3, 2, 7, 28, 39), datetime.datetime(2024, 3, 2, 7, 28, 39))]

In [7]:
import pandas as pd
df = pd.read_csv("Datasets/bank/bank-full.csv", sep=";")

In [8]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

df.to_sql(name = 'bank_details', con=engine, if_exists='replace', index=False)

In [7]:
for i in db.execute(text("""show tables""")).fetchall():
    print(i)

('bank_details',)

In [19]:
db.execute(text("""COMMIT;"""))

In [8]:
db.execute(text("""
select * from bank_details limit 1;
""")).fetchall()

[(58, 'management', 'married', 'tertiary', 'no', 2143, 'yes', 'no', 'unknown', 5, 'may', 261, 1, -1, 0, 'unknown', 'no')]

In [9]:
db.execute(text("""
select * from bank_details limit 1;
""")).keys()

RMKeyView(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y'])

In [10]:
import time
for i in db.execute(text("""select * from bank_details where marital='single' limit 5""")).fetchall():
    time.sleep(1)
    print(i)

(44, 'technician', 'single', 'secondary', 'no', 29, 'yes', 'no', 'unknown', 5, 'may', 151, 1, -1, 0, 'unknown', 'no')
(33, 'unknown', 'single', 'unknown', 'no', 1, 'no', 'no', 'unknown', 5, 'may', 198, 1, -1, 0, 'unknown', 'no')
(28, 'management', 'single', 'tertiary', 'no', 447, 'yes', 'yes', 'unknown', 5, 'may', 217, 1, -1, 0, 'unknown', 'no')
(43, 'technician', 'single', 'secondary', 'no', 593, 'yes', 'no', 'unknown', 5, 'may', 55, 1, -1, 0, 'unknown', 'no')
(29, 'admin.', 'single', 'secondary', 'no', 390, 'yes', 'no', 'unknown', 5, 'may', 137, 1, -1, 0, 'unknown', 'no')

In [11]:
db.execute(text("""select * from bank_details where marital='single' limit 5""")).fetchall()

[(44, 'technician', 'single', 'secondary', 'no', 29, 'yes', 'no', 'unknown', 5, 'may', 151, 1, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'single', 'unknown', 'no', 1, 'no', 'no', 'unknown', 5, 'may', 198, 1, -1, 0, 'unknown', 'no'),
 (28, 'management', 'single', 'tertiary', 'no', 447, 'yes', 'yes', 'unknown', 5, 'may', 217, 1, -1, 0, 'unknown', 'no'),
 (43, 'technician', 'single', 'secondary', 'no', 593, 'yes', 'no', 'unknown', 5, 'may', 55, 1, -1, 0, 'unknown', 'no'),
 (29, 'admin.', 'single', 'secondary', 'no', 390, 'yes', 'no', 'unknown', 5, 'may', 137, 1, -1, 0, 'unknown', 'no')]

In [12]:
db.execute(text("""select count(*) from bank_details  where marital='single' """)).fetchone()

(12790,)

In [13]:
db.execute(text("""
select age, loan, job from bank_details limit 5;
""")).fetchall()

[(58, 'no', 'management'),
 (44, 'no', 'technician'),
 (33, 'yes', 'entrepreneur'),
 (47, 'no', 'blue-collar'),
 (33, 'no', 'unknown')]

In [14]:
db.execute(text("""
select count(age) from bank_details where age = 24;
""")).fetchone()

(302,)

In [15]:
db.execute(text("""
select * from bank_details;
""")).keys()

RMKeyView(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y'])

In [18]:
db.execute(text("""
select count(*) from bank_details where age > 50;
""")).fetchone()

(9255,)

In [30]:
db.execute(text("""
select * from bank_details where age > 60 and (job = 'retired' and loan = 'yes');
""")).fetchall()

[(61, 'retired', 'married', 'secondary', 'no', 195, 'yes', 'yes', 'unknown', 6, 'may', 179, 1, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'primary', 'no', -156, 'yes', 'yes', 'unknown', 2, 'jun', 283, 5, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'primary', 'no', 296, 'yes', 'yes', 'unknown', 3, 'jun', 323, 2, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'secondary', 'no', 313, 'no', 'yes', 'unknown', 3, 'jul', 42, 1, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'unknown', 'no', -492, 'no', 'yes', 'unknown', 4, 'jul', 333, 1, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'divorced', 'secondary', 'no', 410, 'no', 'yes', 'cellular', 31, 'jul', 470, 4, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'primary', 'no', 0, 'yes', 'yes', 'telephone', 18, 'aug', 280, 13, -1, 0, 'unknown', 'no'),
 (72, 'retired', 'single', 'unknown', 'no', 588, 'no', 'yes', 'cellular', 5, 'mar', 66, 3, -1, 0, 'unknown', 'no'),
 (71, 'retired', 'married', 'secondary', 'no', 951, 'no', 'yes', 'cellular', 7, 'apr', 83, 1, -1, 0, 'unknown', 'no'),
 (61, 'retired', 'married', 'tertiary', 'no', 3140, 'yes', 'yes', 'cellular', 6, 'aug', 975, 4, 98, 1, 'unknown', 'yes'),
 (65, 'retired', 'married', 'secondary', 'no', 2326, 'no', 'yes', 'cellular', 21, 'aug', 276, 1, -1, 0, 'unknown', 'yes'),
 (62, 'retired', 'married', 'secondary', 'no', 495, 'no', 'yes', 'telephone', 9, 'sep', 494, 2, -1, 0, 'unknown', 'no'),
 (66, 'retired', 'married', 'secondary', 'no', 2326, 'no', 'yes', 'cellular', 18, 'feb', 232, 1, 181, 1, 'success', 'yes'),
 (61, 'retired', 'married', 'secondary', 'no', 2801, 'yes', 'yes', 'cellular', 10, 'mar', 239, 1, -1, 0, 'unknown', 'yes'),
 (72, 'retired', 'married', 'secondary', 'no', 951, 'no', 'yes', 'cellular', 12, 'mar', 229, 3, 339, 1, 'failure', 'yes'),
 (62, 'retired', 'married', 'secondary', 'no', 2801, 'yes', 'yes', 'cellular', 9, 'sep', 261, 1, 183, 1, 'success', 'yes'),
 (64, 'retired', 'married', 'tertiary', 'no', 2059, 'no', 'yes', 'cellular', 9, 'nov', 326, 1, 95, 1, 'other', 'no')]

In [35]:
db.execute(text("""
select count(*) from bank_details where balance < 500 and (education = 'unknown' or marital = 'single')
""")).fetchall()

[(7387,)]

In [68]:
db.execute(text("""
select job, count(job) as frequncy from bank_details group by job;
""")).fetchall()

[('management', 9458),
 ('technician', 7597),
 ('entrepreneur', 1487),
 ('blue-collar', 9732),
 ('unknown', 288),
 ('retired', 2264),
 ('admin.', 5171),
 ('services', 4154),
 ('self-employed', 1579),
 ('unemployed', 1303),
 ('housemaid', 1240),
 ('student', 938)]

In [47]:
db.execute(text("""
select * from bank_details order by age desc limit 10
""")).fetchall()

[(95, 'retired', 'married', 'secondary', 'no', 0, 'no', 'no', 'telephone', 1, 'oct', 215, 1, -1, 0, 'unknown', 'no'),
 (95, 'retired', 'divorced', 'primary', 'no', 2282, 'no', 'no', 'telephone', 21, 'apr', 207, 17, -1, 0, 'unknown', 'yes'),
 (94, 'retired', 'divorced', 'secondary', 'no', 1234, 'no', 'no', 'cellular', 3, 'mar', 212, 1, -1, 0, 'unknown', 'no'),
 (93, 'retired', 'married', 'unknown', 'no', 775, 'no', 'no', 'cellular', 22, 'jul', 860, 2, 177, 7, 'success', 'yes'),
 (93, 'retired', 'married', 'unknown', 'no', 775, 'no', 'no', 'cellular', 4, 'aug', 476, 2, 13, 9, 'success', 'yes'),
 (92, 'retired', 'married', 'unknown', 'no', 775, 'no', 'no', 'cellular', 22, 'oct', 313, 3, -1, 0, 'unknown', 'yes'),
 (92, 'retired', 'married', 'unknown', 'no', 775, 'no', 'no', 'cellular', 26, 'jan', 164, 4, 96, 3, 'success', 'yes'),
 (90, 'retired', 'divorced', 'primary', 'no', 712, 'no', 'no', 'telephone', 3, 'mar', 557, 1, -1, 0, 'unknown', 'yes'),
 (90, 'retired', 'divorced', 'secondary', 'no', 1, 'no', 'no', 'cellular', 13, 'feb', 152, 3, -1, 0, 'unknown', 'yes'),
 (89, 'retired', 'divorced', 'primary', 'no', 1323, 'no', 'no', 'telephone', 29, 'dec', 207, 4, 189, 1, 'other', 'no')]

In [54]:
db.execute(text("""
select sum(balance) from bank_details;
""")).fetchone()

(Decimal('61589682'),)

In [55]:
db.execute(text("""
select avg(balance) from bank_details;
""")).fetchone()

(Decimal('1362.2721'),)

In [57]:
db.execute(text("""
select min(balance) from bank_details;
""")).fetchone()

(-8019,)

In [60]:
db.execute(text("""
select max(balance) from bank_details;
""")).fetchone()

(102127,)

In [61]:
db.execute(text("""
select * from bank_details where loan = 'yes' limit 10;
""")).fetchall()

[(33, 'entrepreneur', 'married', 'secondary', 'no', 2, 'yes', 'yes', 'unknown', 5, 'may', 76, 1, -1, 0, 'unknown', 'no'),
 (28, 'management', 'single', 'tertiary', 'no', 447, 'yes', 'yes', 'unknown', 5, 'may', 217, 1, -1, 0, 'unknown', 'no'),
 (28, 'blue-collar', 'married', 'secondary', 'no', 723, 'yes', 'yes', 'unknown', 5, 'may', 262, 1, -1, 0, 'unknown', 'no'),
 (32, 'blue-collar', 'single', 'primary', 'no', 23, 'yes', 'yes', 'unknown', 5, 'may', 160, 1, -1, 0, 'unknown', 'no'),
 (40, 'retired', 'married', 'primary', 'no', 0, 'yes', 'yes', 'unknown', 5, 'may', 181, 1, -1, 0, 'unknown', 'no'),
 (52, 'entrepreneur', 'married', 'secondary', 'no', 113, 'yes', 'yes', 'unknown', 5, 'may', 127, 1, -1, 0, 'unknown', 'no'),
 (36, 'technician', 'single', 'secondary', 'no', 265, 'yes', 'yes', 'unknown', 5, 'may', 348, 1, -1, 0, 'unknown', 'no'),
 (57, 'technician', 'married', 'secondary', 'no', 839, 'no', 'yes', 'unknown', 5, 'may', 225, 1, -1, 0, 'unknown', 'no'),
 (60, 'admin.', 'married', 'secondary', 'no', 39, 'yes', 'yes', 'unknown', 5, 'may', 208, 1, -1, 0, 'unknown', 'no'),
 (24, 'technician', 'single', 'secondary', 'no', -103, 'yes', 'yes', 'unknown', 5, 'may', 145, 1, -1, 0, 'unknown', 'no')]

In [62]:
db.execute(text("""
select count(*) from bank_details where loan = 'yes';
""")).fetchone()

(7244,)

In [71]:
db.execute(text("""
select avg(balance) from bank_details where job = 'admin.';
""")).fetchone()

(Decimal('1135.8389'),)

In [74]:
db.execute(text("""
select * from bank_details where job = 'unknown' and age < 45;
""")).fetchall()

[(33, 'unknown', 'single', 'unknown', 'no', 1, 'no', 'no', 'unknown', 5, 'may', 198, 1, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'single', 'unknown', 'no', 414, 'yes', 'no', 'unknown', 7, 'may', 131, 1, -1, 0, 'unknown', 'no'),
 (29, 'unknown', 'single', 'primary', 'no', 50, 'yes', 'no', 'unknown', 7, 'may', 50, 2, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'single', 'primary', 'no', 2398, 'yes', 'no', 'unknown', 8, 'may', 287, 2, -1, 0, 'unknown', 'no'),
 (25, 'unknown', 'single', 'unknown', 'no', 329, 'yes', 'no', 'unknown', 14, 'may', 158, 2, -1, 0, 'unknown', 'no'),
 (38, 'unknown', 'married', 'unknown', 'no', 124, 'yes', 'no', 'unknown', 20, 'may', 37, 13, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'divorced', 'primary', 'no', 3888, 'no', 'no', 'unknown', 26, 'may', 422, 5, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'married', 'primary', 'no', 526, 'no', 'no', 'unknown', 26, 'may', 151, 3, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'single', 'secondary', 'no', 57, 'yes', 'no', 'unknown', 27, 'may', 142, 1, -1, 0, 'unknown', 'no'),
 (32, 'unknown', 'single', 'secondary', 'no', -274, 'no', 'yes', 'unknown', 27, 'may', 108, 3, -1, 0, 'unknown', 'no'),
 (29, 'unknown', 'single', 'unknown', 'no', 209, 'no', 'no', 'unknown', 29, 'may', 346, 6, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'single', 'secondary', 'no', 646, 'yes', 'no', 'unknown', 29, 'may', 40, 2, -1, 0, 'unknown', 'no'),
 (30, 'unknown', 'single', 'primary', 'no', 13052, 'no', 'no', 'unknown', 4, 'jun', 140, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'single', 'primary', 'no', 433, 'no', 'no', 'unknown', 4, 'jun', 45, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'unknown', 'no', 1316, 'no', 'no', 'unknown', 5, 'jun', 285, 1, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'single', 'unknown', 'no', 1070, 'no', 'no', 'unknown', 5, 'jun', 346, 3, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'single', 'secondary', 'no', 914, 'no', 'no', 'unknown', 5, 'jun', 20, 1, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'married', 'primary', 'no', 808, 'no', 'no', 'unknown', 5, 'jun', 228, 2, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'married', 'secondary', 'no', 1701, 'no', 'no', 'unknown', 6, 'jun', 140, 1, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'single', 'secondary', 'no', 0, 'no', 'no', 'unknown', 6, 'jun', 188, 1, -1, 0, 'unknown', 'no'),
 (38, 'unknown', 'married', 'primary', 'no', 0, 'no', 'no', 'unknown', 6, 'jun', 414, 2, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'unknown', 'no', 0, 'no', 'no', 'unknown', 6, 'jun', 159, 3, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'married', 'unknown', 'no', 1699, 'no', 'no', 'unknown', 9, 'jun', 63, 1, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'single', 'unknown', 'no', 1259, 'no', 'no', 'unknown', 11, 'jun', 177, 8, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'secondary', 'no', 1456, 'no', 'no', 'unknown', 12, 'jun', 56, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'tertiary', 'no', 2918, 'no', 'no', 'unknown', 18, 'jun', 18, 1, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'married', 'secondary', 'no', 1370, 'no', 'no', 'unknown', 18, 'jun', 221, 5, -1, 0, 'unknown', 'no'),
 (40, 'unknown', 'married', 'unknown', 'no', 35, 'no', 'no', 'unknown', 19, 'jun', 40, 1, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'married', 'primary', 'no', 2860, 'no', 'no', 'unknown', 19, 'jun', 133, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'tertiary', 'no', 1937, 'no', 'no', 'unknown', 19, 'jun', 385, 1, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'married', 'secondary', 'no', 5700, 'no', 'no', 'unknown', 19, 'jun', 49, 2, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'unknown', 'no', 1517, 'no', 'no', 'unknown', 20, 'jun', 45, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'unknown', 'yes', 61, 'no', 'no', 'unknown', 20, 'jun', 115, 1, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'married', 'tertiary', 'no', 0, 'yes', 'no', 'unknown', 20, 'jun', 27, 16, -1, 0, 'unknown', 'no'),
 (44, 'unknown', 'single', 'unknown', 'no', 1239, 'no', 'no', 'unknown', 20, 'jun', 39, 4, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 634, 'no', 'no', 'cellular', 7, 'jul', 185, 2, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'single', 'tertiary', 'no', 0, 'no', 'no', 'cellular', 7, 'jul', 57, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'secondary', 'no', 1926, 'no', 'no', 'telephone', 7, 'jul', 89, 13, -1, 0, 'unknown', 'no'),
 (25, 'unknown', 'single', 'secondary', 'no', 3, 'no', 'no', 'cellular', 7, 'jul', 136, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'primary', 'no', 0, 'yes', 'no', 'cellular', 9, 'jul', 132, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'married', 'secondary', 'no', 703, 'yes', 'no', 'cellular', 10, 'jul', 210, 1, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'single', 'primary', 'no', 3415, 'no', 'no', 'telephone', 10, 'jul', 150, 10, -1, 0, 'unknown', 'no'),
 (44, 'unknown', 'married', 'unknown', 'no', 722, 'yes', 'no', 'telephone', 22, 'jul', 269, 2, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'primary', 'no', 2113, 'no', 'no', 'cellular', 29, 'jul', 33, 2, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'married', 'unknown', 'no', 779, 'no', 'no', 'cellular', 30, 'jul', 647, 10, -1, 0, 'unknown', 'no'),
 (44, 'unknown', 'single', 'secondary', 'no', 2023, 'no', 'no', 'cellular', 30, 'jul', 67, 21, -1, 0, 'unknown', 'no'),
 (44, 'unknown', 'married', 'unknown', 'no', 1317, 'no', 'no', 'telephone', 31, 'jul', 444, 6, -1, 0, 'unknown', 'no'),
 (34, 'unknown', 'married', 'unknown', 'no', 164, 'no', 'no', 'cellular', 4, 'aug', 119, 2, -1, 0, 'unknown', 'no'),
 (44, 'unknown', 'married', 'secondary', 'no', 2319, 'no', 'no', 'cellular', 4, 'aug', 251, 3, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'married', 'secondary', 'no', 2727, 'no', 'no', 'cellular', 6, 'aug', 205, 3, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'married', 'primary', 'no', 6999, 'no', 'no', 'cellular', 6, 'aug', 111, 2, -1, 0, 'unknown', 'no'),
 (34, 'unknown', 'married', 'unknown', 'no', 4535, 'no', 'no', 'cellular', 6, 'aug', 54, 3, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'married', 'secondary', 'no', 179, 'no', 'no', 'cellular', 8, 'aug', 14, 8, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'tertiary', 'no', 1260, 'no', 'no', 'cellular', 11, 'aug', 204, 9, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'married', 'secondary', 'no', 335, 'no', 'no', 'cellular', 11, 'aug', 566, 7, -1, 0, 'unknown', 'no'),
 (40, 'unknown', 'married', 'tertiary', 'no', 119, 'no', 'no', 'cellular', 19, 'aug', 258, 2, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'married', 'secondary', 'no', 111, 'no', 'no', 'cellular', 20, 'aug', 70, 2, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'married', 'primary', 'no', 0, 'no', 'no', 'cellular', 21, 'aug', 238, 2, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 4144, 'no', 'no', 'cellular', 21, 'aug', 310, 3, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'divorced', 'tertiary', 'no', 137, 'no', 'no', 'cellular', 22, 'aug', 385, 9, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'married', 'tertiary', 'no', 8971, 'no', 'no', 'cellular', 22, 'aug', 138, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'married', 'unknown', 'no', 222, 'no', 'no', 'cellular', 26, 'aug', 80, 16, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'married', 'tertiary', 'no', 526, 'no', 'no', 'cellular', 26, 'aug', 130, 13, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 365, 'no', 'no', 'cellular', 29, 'aug', 41, 2, -1, 0, 'unknown', 'no'),
 (38, 'unknown', 'married', 'unknown', 'no', 653, 'no', 'no', 'telephone', 29, 'aug', 17, 18, -1, 0, 'unknown', 'no'),
 (26, 'unknown', 'single', 'secondary', 'no', 1187, 'no', 'no', 'unknown', 17, 'nov', 44, 1, -1, 0, 'unknown', 'no'),
 (30, 'unknown', 'single', 'unknown', 'no', 6929, 'no', 'no', 'cellular', 19, 'nov', 341, 1, -1, 0, 'unknown', 'no'),
 (33, 'unknown', 'single', 'secondary', 'no', 1522, 'no', 'yes', 'cellular', 19, 'nov', 966, 1, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'divorced', 'primary', 'no', 3888, 'no', 'no', 'cellular', 20, 'nov', 207, 5, 178, 5, 'failure', 'no'),
 (39, 'unknown', 'single', 'unknown', 'no', 2822, 'no', 'no', 'cellular', 21, 'nov', 573, 3, -1, 0, 'unknown', 'no'),
 (34, 'unknown', 'married', 'secondary', 'no', 1434, 'no', 'no', 'cellular', 21, 'nov', 50, 2, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'married', 'secondary', 'no', 111, 'no', 'no', 'cellular', 21, 'nov', 504, 2, 93, 2, 'failure', 'yes'),
 (43, 'unknown', 'single', 'tertiary', 'no', 2731, 'no', 'no', 'cellular', 21, 'nov', 11, 7, -1, 0, 'unknown', 'no'),
 (34, 'unknown', 'single', 'secondary', 'no', 859, 'no', 'no', 'cellular', 28, 'jan', 829, 1, -1, 0, 'unknown', 'yes'),
 (39, 'unknown', 'single', 'unknown', 'no', 0, 'no', 'no', 'telephone', 28, 'jan', 28, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'single', 'unknown', 'no', 181, 'no', 'no', 'telephone', 28, 'jan', 41, 1, -1, 0, 'unknown', 'no'),
 (29, 'unknown', 'single', 'secondary', 'no', 1502, 'no', 'no', 'cellular', 28, 'jan', 59, 1, -1, 0, 'unknown', 'no'),
 (28, 'unknown', 'single', 'secondary', 'no', 4465, 'no', 'no', 'cellular', 28, 'jan', 769, 1, -1, 0, 'unknown', 'yes'),
 (29, 'unknown', 'single', 'secondary', 'no', 1288, 'no', 'no', 'cellular', 3, 'feb', 266, 1, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'primary', 'no', 2398, 'yes', 'no', 'cellular', 3, 'feb', 144, 2, 271, 2, 'failure', 'no'),
 (33, 'unknown', 'married', 'secondary', 'no', 335, 'no', 'no', 'cellular', 4, 'feb', 891, 2, 177, 7, 'failure', 'yes'),
 (43, 'unknown', 'married', 'primary', 'no', 644, 'no', 'no', 'telephone', 5, 'feb', 195, 2, -1, 0, 'unknown', 'no'),
 (26, 'unknown', 'single', 'secondary', 'no', 3247, 'no', 'no', 'telephone', 6, 'feb', 341, 3, -1, 0, 'unknown', 'no'),
 (27, 'unknown', 'single', 'secondary', 'no', 1187, 'no', 'no', 'telephone', 26, 'feb', 232, 1, 101, 1, 'failure', 'yes'),
 (30, 'unknown', 'single', 'tertiary', 'no', 6836, 'no', 'no', 'cellular', 27, 'feb', 30, 3, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'single', 'tertiary', 'no', 0, 'no', 'no', 'cellular', 3, 'mar', 426, 1, -1, 0, 'unknown', 'yes'),
 (41, 'unknown', 'single', 'unknown', 'no', 942, 'no', 'no', 'cellular', 22, 'apr', 219, 1, -1, 0, 'unknown', 'yes'),
 (26, 'unknown', 'divorced', 'secondary', 'no', -295, 'yes', 'no', 'cellular', 7, 'may', 556, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'secondary', 'no', 703, 'yes', 'no', 'cellular', 7, 'may', 96, 3, 301, 1, 'failure', 'no'),
 (29, 'unknown', 'single', 'secondary', 'no', 923, 'no', 'no', 'cellular', 26, 'may', 333, 1, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'single', 'tertiary', 'no', 0, 'no', 'no', 'cellular', 8, 'jun', 257, 2, 97, 1, 'success', 'yes'),
 (41, 'unknown', 'single', 'tertiary', 'no', 1567, 'no', 'no', 'cellular', 1, 'jul', 291, 2, -1, 0, 'unknown', 'no'),
 (31, 'unknown', 'married', 'secondary', 'no', 3, 'no', 'no', 'cellular', 20, 'jul', 91, 2, -1, 0, 'unknown', 'no'),
 (38, 'unknown', 'single', 'tertiary', 'no', 0, 'no', 'no', 'cellular', 11, 'sep', 260, 3, 95, 3, 'success', 'yes'),
 (33, 'unknown', 'single', 'secondary', 'no', 9, 'no', 'no', 'cellular', 19, 'oct', 238, 1, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'single', 'unknown', 'no', 942, 'no', 'no', 'cellular', 27, 'oct', 143, 1, 188, 1, 'success', 'yes'),
 (44, 'unknown', 'single', 'unknown', 'no', 18881, 'no', 'no', 'cellular', 2, 'dec', 187, 2, -1, 0, 'unknown', 'no'),
 (42, 'unknown', 'single', 'unknown', 'no', 942, 'no', 'no', 'cellular', 27, 'jan', 245, 1, 92, 2, 'success', 'yes'),
 (27, 'unknown', 'single', 'tertiary', 'no', 6421, 'no', 'no', 'telephone', 28, 'jan', 147, 4, -1, 0, 'unknown', 'no'),
 (27, 'unknown', 'single', 'unknown', 'no', 326, 'no', 'no', 'cellular', 22, 'feb', 326, 1, -1, 0, 'unknown', 'yes'),
 (27, 'unknown', 'single', 'tertiary', 'no', 6421, 'no', 'no', 'cellular', 18, 'may', 315, 3, 110, 4, 'failure', 'no'),
 (28, 'unknown', 'single', 'unknown', 'no', 326, 'no', 'no', 'cellular', 11, 'oct', 450, 1, 231, 1, 'success', 'yes')]

In [75]:
db.execute(text("""
select * from bank_details where education = 'primary' and job = 'unknown';
""")).fetchall()

[(29, 'unknown', 'single', 'primary', 'no', 50, 'yes', 'no', 'unknown', 7, 'may', 50, 2, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'single', 'primary', 'no', 2398, 'yes', 'no', 'unknown', 8, 'may', 287, 2, -1, 0, 'unknown', 'no'),
 (49, 'unknown', 'married', 'primary', 'no', 341, 'yes', 'yes', 'unknown', 15, 'may', 520, 2, -1, 0, 'unknown', 'yes'),
 (35, 'unknown', 'divorced', 'primary', 'no', 3888, 'no', 'no', 'unknown', 26, 'may', 422, 5, -1, 0, 'unknown', 'no'),
 (41, 'unknown', 'married', 'primary', 'no', 526, 'no', 'no', 'unknown', 26, 'may', 151, 3, -1, 0, 'unknown', 'no'),
 (30, 'unknown', 'single', 'primary', 'no', 13052, 'no', 'no', 'unknown', 4, 'jun', 140, 1, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'single', 'primary', 'no', 433, 'no', 'no', 'unknown', 4, 'jun', 45, 1, -1, 0, 'unknown', 'no'),
 (52, 'unknown', 'married', 'primary', 'no', 8251, 'no', 'no', 'unknown', 5, 'jun', 397, 1, -1, 0, 'unknown', 'no'),
 (59, 'unknown', 'married', 'primary', 'no', 1470, 'no', 'no', 'unknown', 5, 'jun', 74, 1, -1, 0, 'unknown', 'no'),
 (37, 'unknown', 'married', 'primary', 'no', 808, 'no', 'no', 'unknown', 5, 'jun', 228, 2, -1, 0, 'unknown', 'no'),
 (38, 'unknown', 'married', 'primary', 'no', 0, 'no', 'no', 'unknown', 6, 'jun', 414, 2, -1, 0, 'unknown', 'no'),
 (50, 'unknown', 'married', 'primary', 'no', 1502, 'no', 'no', 'unknown', 6, 'jun', 34, 2, -1, 0, 'unknown', 'no'),
 (52, 'unknown', 'married', 'primary', 'no', 547, 'no', 'no', 'unknown', 6, 'jun', 33, 2, -1, 0, 'unknown', 'no'),
 (56, 'unknown', 'divorced', 'primary', 'no', 558, 'no', 'no', 'unknown', 11, 'jun', 119, 1, -1, 0, 'unknown', 'no'),
 (45, 'unknown', 'married', 'primary', 'no', 44, 'no', 'no', 'unknown', 11, 'jun', 81, 1, -1, 0, 'unknown', 'no'),
 (46, 'unknown', 'married', 'primary', 'no', 285, 'no', 'no', 'unknown', 11, 'jun', 215, 2, -1, 0, 'unknown', 'no'),
 (49, 'unknown', 'married', 'primary', 'no', 142, 'no', 'no', 'unknown', 12, 'jun', 90, 3, -1, 0, 'unknown', 'no'),
 (46, 'unknown', 'single', 'primary', 'no', 10, 'no', 'no', 'unknown', 18, 'jun', 64, 6, -1, 0, 'unknown', 'no'),
 (46, 'unknown', 'married', 'primary', 'no', 110, 'no', 'no', 'unknown', 19, 'jun', 113, 14, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'married', 'primary', 'no', 2860, 'no', 'no', 'unknown', 19, 'jun', 133, 1, -1, 0, 'unknown', 'no'),
 (60, 'unknown', 'married', 'primary', 'no', 4722, 'no', 'no', 'unknown', 20, 'jun', 459, 3, -1, 0, 'unknown', 'no'),
 (55, 'unknown', 'married', 'primary', 'no', 2074, 'no', 'no', 'unknown', 20, 'jun', 19, 4, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 634, 'no', 'no', 'cellular', 7, 'jul', 185, 2, -1, 0, 'unknown', 'no'),
 (47, 'unknown', 'divorced', 'primary', 'no', 0, 'no', 'no', 'cellular', 7, 'jul', 240, 1, -1, 0, 'unknown', 'no'),
 (59, 'unknown', 'married', 'primary', 'no', 1247, 'no', 'no', 'telephone', 7, 'jul', 66, 8, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'primary', 'no', 0, 'yes', 'no', 'cellular', 9, 'jul', 132, 1, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'single', 'primary', 'no', 3415, 'no', 'no', 'telephone', 10, 'jul', 150, 10, -1, 0, 'unknown', 'no'),
 (45, 'unknown', 'married', 'primary', 'no', 586, 'yes', 'no', 'telephone', 21, 'jul', 90, 3, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'primary', 'no', 2113, 'no', 'no', 'cellular', 29, 'jul', 33, 2, -1, 0, 'unknown', 'no'),
 (52, 'unknown', 'married', 'primary', 'no', 247, 'no', 'no', 'cellular', 29, 'jul', 268, 6, -1, 0, 'unknown', 'no'),
 (39, 'unknown', 'married', 'primary', 'no', 6999, 'no', 'no', 'cellular', 6, 'aug', 111, 2, -1, 0, 'unknown', 'no'),
 (57, 'unknown', 'married', 'primary', 'no', 900, 'no', 'no', 'cellular', 8, 'aug', 169, 4, -1, 0, 'unknown', 'no'),
 (58, 'unknown', 'married', 'primary', 'no', 15, 'no', 'no', 'cellular', 11, 'aug', 57, 2, -1, 0, 'unknown', 'no'),
 (52, 'unknown', 'married', 'primary', 'no', 5521, 'no', 'no', 'cellular', 11, 'aug', 126, 4, -1, 0, 'unknown', 'no'),
 (57, 'unknown', 'married', 'primary', 'no', 270, 'no', 'no', 'cellular', 14, 'aug', 526, 2, -1, 0, 'unknown', 'no'),
 (36, 'unknown', 'married', 'primary', 'no', 0, 'no', 'no', 'cellular', 21, 'aug', 238, 2, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 4144, 'no', 'no', 'cellular', 21, 'aug', 310, 3, -1, 0, 'unknown', 'no'),
 (54, 'unknown', 'married', 'primary', 'no', 981, 'no', 'no', 'cellular', 22, 'aug', 651, 12, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'married', 'primary', 'no', 365, 'no', 'no', 'cellular', 29, 'aug', 41, 2, -1, 0, 'unknown', 'no'),
 (35, 'unknown', 'divorced', 'primary', 'no', 3888, 'no', 'no', 'cellular', 20, 'nov', 207, 5, 178, 5, 'failure', 'no'),
 (42, 'unknown', 'single', 'primary', 'no', 2398, 'yes', 'no', 'cellular', 3, 'feb', 144, 2, 271, 2, 'failure', 'no'),
 (59, 'unknown', 'married', 'primary', 'no', 282, 'no', 'no', 'cellular', 3, 'feb', 301, 2, -1, 0, 'unknown', 'no'),
 (43, 'unknown', 'married', 'primary', 'no', 644, 'no', 'no', 'telephone', 5, 'feb', 195, 2, -1, 0, 'unknown', 'no'),
 (50, 'unknown', 'married', 'primary', 'no', 341, 'yes', 'yes', 'cellular', 20, 'apr', 670, 4, 340, 2, 'success', 'yes'),
 (46, 'unknown', 'married', 'primary', 'no', 0, 'no', 'no', 'telephone', 25, 'may', 87, 2, -1, 0, 'unknown', 'no'),
 (58, 'unknown', 'married', 'primary', 'no', 7369, 'no', 'no', 'telephone', 4, 'jun', 247, 2, -1, 0, 'unknown', 'no'),
 (61, 'unknown', 'single', 'primary', 'no', 50, 'no', 'no', 'telephone', 21, 'jul', 465, 6, -1, 0, 'unknown', 'no'),
 (57, 'unknown', 'married', 'primary', 'no', 8, 'no', 'no', 'telephone', 19, 'oct', 270, 2, -1, 0, 'unknown', 'no'),
 (53, 'unknown', 'married', 'primary', 'no', 732, 'no', 'no', 'cellular', 27, 'oct', 759, 2, -1, 0, 'unknown', 'yes'),
 (57, 'unknown', 'married', 'primary', 'no', 1884, 'no', 'no', 'telephone', 28, 'jun', 133, 4, -1, 0, 'unknown', 'no'),
 (55, 'unknown', 'married', 'primary', 'no', 159, 'no', 'no', 'unknown', 4, 'sep', 15, 1, -1, 0, 'unknown', 'no')]

In [7]:
db.execute(text("""
select count(*) from bank_details where balance < 0;
""")).fetchone()

(3766,)

In [8]:
db.execute(text("""
select * from bank_details
""")).keys()

RMKeyView(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y'])

In [11]:
db.execute(text("""
select count(*) from bank_details where housing = 'no'
""")).fetchall()

[(20081,)]