In [1]:
from sqlalchemy.engine import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text

In [2]:
db_user = 'root'
db_password = 'rushi12345'
db_host = '192.168.29.7'
db_name = 'data_prac_db' 

engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
SessionLocal = sessionmaker(autoflush=True, bind=engine)

In [3]:
db = SessionLocal()

In [5]:
import pandas as pd

In [11]:
df = pd.read_csv("Datasets/Dresses_Attribute_Sales/AttributeDataSet.csv")

In [12]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [23]:
df.to_sql(name='dress_data', con=engine, index=False)

500

In [24]:
db.execute(text("""
select * from dress_data limit 10
""")).fetchall()

[(1006032852, 'Sexy', 'Low', 4.6, 'M', 'Summer', 'o-neck', 'sleevless', 'empire', None, 'chiffon', 'ruffles', 'animal', 1),
 (1212192089, 'Casual', 'Low', 0.0, 'L', 'Summer', 'o-neck', 'Petal', 'natural', 'microfiber', None, 'ruffles', 'animal', 0),
 (1190380701, 'vintage', 'High', 0.0, 'L', 'Automn', 'o-neck', 'full', 'natural', 'polyster', None, None, 'print', 0),
 (966005983, 'Brief', 'Average', 4.6, 'L', 'Spring', 'o-neck', 'full', 'natural', 'silk', 'chiffon', 'embroidary', 'print', 1),
 (876339541, 'cute', 'Low', 4.5, 'M', 'Summer', 'o-neck', 'butterfly', 'natural', 'chiffonfabric', 'chiffon', 'bow', 'dot', 0),
 (1068332458, 'bohemian', 'Low', 0.0, 'M', 'Summer', 'v-neck', 'sleevless', 'empire', None, None, None, 'print', 0),
 (1220707172, 'Casual', 'Average', 0.0, 'XL', 'Summer', 'o-neck', 'full', None, 'cotton', None, None, 'solid', 0),
 (1219677488, 'Novelty', 'Average', 0.0, 'free', 'Automn', 'o-neck', 'short', 'natural', 'polyster', 'broadcloth', 'lace', None, 0),
 (1113094204, 'Flare', 'Average', 0.0, 'free', 'Spring', 'v-neck', 'short', 'empire', 'cotton', 'broadcloth', 'beading', 'solid', 1),
 (985292672, 'bohemian', 'Low', 0.0, 'free', 'Summer', 'v-neck', 'sleevless', 'natural', 'nylon', 'chiffon', None, None, 1)]

In [25]:
db.execute(text("""
select * from dress_data limit 10
""")).keys()

RMKeyView(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine', 'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration', 'Pattern Type', 'Recommendation'])

In [26]:
db.execute(text("""
show tables;
""")).fetchall()

[('bank_details',), ('bank_view',), ('dress_data',)]

* Load bulk csv files into data base
```bash
LOAD DATA INFILE <location> i.e 'D:/file.csv'
INTO TABLE dress_data
FIELDS TERMINATED BY ','
ENCLOSE BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;
```

In [27]:
db.execute(text("""
select count(*) from dress_data;
""")).fetchone()

(500,)

In [4]:
db.execute(text("""
select * from dress_data limit 5
""")).fetchall()

[(1006032852, 'Sexy', 'Low', 4.6, 'M', 'Summer', 'o-neck', 'sleevless', 'empire', None, 'chiffon', 'ruffles', 'animal', 1),
 (1212192089, 'Casual', 'Low', 0.0, 'L', 'Summer', 'o-neck', 'Petal', 'natural', 'microfiber', None, 'ruffles', 'animal', 0),
 (1190380701, 'vintage', 'High', 0.0, 'L', 'Automn', 'o-neck', 'full', 'natural', 'polyster', None, None, 'print', 0),
 (966005983, 'Brief', 'Average', 4.6, 'L', 'Spring', 'o-neck', 'full', 'natural', 'silk', 'chiffon', 'embroidary', 'print', 1),
 (876339541, 'cute', 'Low', 4.5, 'M', 'Summer', 'o-neck', 'butterfly', 'natural', 'chiffonfabric', 'chiffon', 'bow', 'dot', 0)]

*  Constraits
```bash
alter table test3 add check (test_id > 0)
```

In [13]:
df1 = pd.read_excel("Datasets/Dresses_Attribute_Sales/Extra files/Dress Sales.xlsx")

In [14]:
df1.head()

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736