In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import create_engine

# Config
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [2]:
class DataBaseSession:
    def __init__(self) -> None:
        self.db_user = 'root'
        self.db_password = 'rushi12345'
        self.db_host = '192.168.43.192'
        self.db_name = 'online_store'
    
    def LocalSession(self):
        engine = create_engine(f"mysql+pymysql://{self.db_user}:{self.db_password}@{self.db_host}/{self.db_name}")
        SessionLocal = sessionmaker(autoflush=True, bind=engine)
        return SessionLocal()

In [3]:
session = DataBaseSession()
db = session.LocalSession()

In [4]:
class OnlineStore:
    def __init__(self) -> None:
        pass
    
    def query(self, query: str) -> pd.DataFrame:
        return pd.DataFrame(db.execute(text(query)).fetchall())

In [5]:
data = OnlineStore()

![online_store](../assets/online-store-data-modeling.PNG)

db.execute(text("""
create table customer_table(
customer_id int unique NOT NULL,
customer_name varchar(255),
customer_email varchar(255),
customer_phone varchar(255),
primary key(customer_id));
"""))

In [ ]:
db.execute(text("""
create table supplier_table(
supplier_id int unique NOT NULL,
supplier_name varchar(255),
supplier_address varchar(255),
primary key(supplier_id));
"""))

In [13]:
db.execute(text("""
create table product_table(
product_id int unique NOT NULL,
product_name varchar(255),
producr_price decimal(20, 6),
product_description varchar(2000),
supplier_id int NOT NULL,
supplier_name varchar(255),
primary key(product_id),
foreign key(supplier_id) references supplier_table(supplier_id));
"""))

In [9]:
db.execute(text("""
create table order_table(
order_id int NOT NULL,
customer_id int NOT NULL,
order_date varchar(255),
total_amount varchar(255),
product_id int,
primary key(order_id),
foreign key(customer_id) references customer_table(customer_id),
foreign key(product_id) references product_table(product_id));
"""))

In [11]:
db.execute(text("""
create table warhouse_table(
warehouse_id int NOT NULL,
warehouse_address varchar(2000),
warehouse_contact varchar(255));
"""))

In [13]:
data.query("show tables;")

  Tables_in_online_store
0         customer_table
1            order_table
2          product_table
3         supplier_table
4         warhouse_table

In [15]:
db.execute(text("""
commit;
"""))

* Output
![output data modeling](../assets/online-store-data-modeling-output.PNG)